:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Import de la police mastermind */

@font-face {
  font-family: 'mastermind';
  src: url('./fonts/Coluna.otf');
}

 /* Page index */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #1577dc;
}

body {
  background-image: url('./background/fond_mastermind.png');
  background-size: cover; /* Optionnel : ajuste la taille de l'image pour remplir tout l'écran */
  background-repeat: no-repeat; /* Optionnel : empêche la répétition de l'image */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

/* Mon code css */

.titre {
  font-family: "mastermind";
  color: white;
  font-size: 5.2em;
  margin-bottom: 0;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}


.countdown {
  font-size: 3em;
  margin-bottom: 20px;
  animation: countdown-animation 4s 1s steps(4, end) both;
}

@keyframes countdown-animation {
  0% { opacity: 0; transform: scale(0.5); }
  25% { opacity: 1; transform: scale(1.2); }
  50% { opacity: 1; transform: scale(1.2); }
  75% { opacity: 1; transform: scale(1.2); }
  100% { opacity: 0; transform: scale(0.5); }
}

.game-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%; /* Ajustez la largeur de l'interface de jeu */
  max-width: 800px; /* Ajustez la largeur maximale si nécessaire */
  position: relative; /* Ajoutez une position relative pour positionner le chrono */

}

.question-box {
  background-color: black;
  border: 4px solid white;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  width: 1000px;
  height: 400px;
}

.timer {
  font-size: 3em;
  color: white;
  position: absolute;
  top: 20px; /* Positionnez le chrono en haut à droite */
  right: -140px; /* Positionnez le chrono en haut à droite */
}

.question {
  font-size: 1.5em;
  color: white;
  margin-top: 40px;
}

.question-centered {
  font-size: 1.5em;
  color: white;
  margin: 0; /* Réinitialisez la marge pour centrer verticalement */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100%; /* Pour occuper toute la hauteur de la question-box */

}

.answer-input {
  padding: 10px;
  width: 400px;
  font-size: 1.2em;
  margin-top: -35px;
  border: none;
  border-radius: 5px;
  
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.score-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Ajustez l'alignement vertical */
  margin-top: 20px;
}


.avatar-int,
.presentateur {
  width: 100px;
  height: 100px;
  border: 4px solid white;
  border-radius: 50%;
}



.score {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

.score-circle {
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
}

.score-circle::after {
  content: '0';
  display: inline-block;
}

.avatar-int,
.presentateur,
.score-circle {
  background: transparent;
}

