:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Import de la police mastermind */

@font-face {
  font-family: 'mastermind';
  src: url('./fonts/Coluna.otf');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #1577dc;
}

body {
  background-image: url('./background/fond_mastermind.png');
  background-size: cover; /* Optionnel : ajuste la taille de l'image pour remplir tout l'écran */
  background-repeat: no-repeat; /* Optionnel : empêche la répétition de l'image */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

/* Mon code css */

.titre {
  font-family: "mastermind";
  font-size: 5.2em;
  margin-bottom: 0;
}

.container {
  width: 80%;
  max-width: 800px; /* Largeur maximale de la container */
  margin: 0 auto; /* Centre la container horizontalement */
  /* border: 1px solid #ddd; Bordure autour de la container */
  padding: 20px;
  text-align: center;
  margin-top: 50px; /* Espace au-dessus de la container */
  z-index: 1;
}

.button-container {
  margin-top: 20px; /* Espace entre le titre et les boutons */
}

.button {
  display: block; /* Les boutons s'affichent les uns sous les autres */
  padding: 10px 20px;
  background-color: #ffffff; /* Couleur de fond du bouton */
  color: #000; /* Couleur du texte du bouton */
  text-decoration: none;
  border-radius: 5px; /* Coins arrondis */
  margin: 10px auto; /* Centre les boutons horizontalement et ajoute de l'espace vertical entre les boutons */
  width: 150px; /* Largeur des boutons */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
}

/* code pour le logo */

.logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.logo {
  transition: transform 0.3s; /* Animation de rotation */
}

/* Lorsque le logo est cliqué, effectuez la rotation de 360 degrés */
.logo.clicked {
  transform: rotate(360deg);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #030B3A;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Media Queries pour une mise en page responsive */
@media (max-width: 768px) {
  .container {
      width: 100%;
      border-radius: 0; /* Supprimez la bordure arrondie pour les écrans plus petits si nécessaire */
  }
}
