:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Import de la police mastermind */

@font-face {
  font-family: 'mastermind';
  src: url('./fonts/Coluna.otf');
}

 /* Page index */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #1577dc;
}

body {
  background-image: url('./background/fond_mastermind.png');
  background-size: cover; /* Optionnel : ajuste la taille de l'image pour remplir tout l'écran */
  background-repeat: no-repeat; /* Optionnel : empêche la répétition de l'image */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

/* Mon code css */

.titre {
  font-family: "mastermind";
  color: white;
  font-size: 5.2em;
  margin-bottom: 0;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.container {
  width: 80%;
  max-width: 800px; /* Largeur maximale de la container */
  margin: 0 auto; /* Centre la container horizontalement */
  /* border: 1px solid #ddd; Bordure autour de la container */
  padding: 20px;
  text-align: center;
  margin-top: 50px; /* Espace au-dessus de la container */
  z-index: 1;
}

.button-container {
  margin-top: 20px; /* Espace entre le titre et les boutons */
}

.button {
  display: block; /* Les boutons s'affichent les uns sous les autres */
  padding: 10px 20px;
  background-color: #ffffff; /* Couleur de fond du bouton */
  color: #000; /* Couleur du texte du bouton */
  text-decoration: none;
  border-radius: 5px; /* Coins arrondis */
  margin: 10px auto; /* Centre les boutons horizontalement et ajoute de l'espace vertical entre les boutons */
  width: 150px; /* Largeur des boutons */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  font-size: 1.5em;
}

/* code pour le logo */

.logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.audio-container {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.logo {
  transition: transform 0.3s; /* Animation de rotation */
}

/* Lorsque le logo est cliqué, effectuez la rotation de 360 degrés */
.logo.clicked {
  transform: rotate(360deg);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table{
  text-align: center;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th{
  background-color: #030B3A;
  color: #fff;
  padding: 12px 15px;
}

#content tr:nth-child(1) {
  background-color: #c7ba0c;
  /* fais un effet dorée métallique */
  background-image: linear-gradient(
    45deg,
    #ffee00 25%,
    transparent 25%,
    transparent 50%,
    #c7ba0c 50%,
    #ffee00 75%,
    transparent 75%,
    transparent
  );

  color: #fff;
}

#content tr:nth-child(2) {
  background-color: #a3a3a3;
  background-image: linear-gradient(
    45deg,
    #d2cfcb 25%,
    transparent 25%,
    transparent 50%,
    #9f9e9c 50%,
    #d2cfcb 75%,
    transparent 75%,
    transparent
  );
  color: #fff;
}

#content tr:nth-child(3) {
  background-color: #cb8906;
  color: #fff;
  background-image: linear-gradient(
    45deg,
    #dfaa41 25%,
    transparent 25%,
    transparent 50%,
    #d8a744 50%,
    #d19f3a 75%,
    transparent 75%,
    transparent
  );
  color: #fff;
}

/* mets moi les autres tr en noirs */
#content tr:nth-child(n+4) {
  background-color: #3770a2;
  color: #fff;
  
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #030B3A;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Media Queries pour une mise en page responsive */
@media (max-width: 768px) {
  .container {
      width: 100%;
      border-radius: 0; /* Supprimez la bordure arrondie pour les écrans plus petits si nécessaire */
  }
}


 
/* Page choix avatar */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Style for the close button */
.close-btn {
  background-color: #000000;
  border: none;
  cursor: pointer;
  display: block; /* Les boutons s'affichent les uns sous les autres */
  padding: 10px 20px;

  color: #ffff; /* Couleur du texte du bouton */
  text-decoration: none;
  border-radius: 5px; /* Coins arrondis */
  margin: 10px auto; /* Centre les boutons horizontalement et ajoute de l'espace vertical entre les boutons */
 
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  font-size: 1.5em;
}


.regles {
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.avatar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  margin: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.avatar:hover {
  border-color: #030B3A;
  box-shadow: 0 0 10px #030B3A;
}

.avatar img {
  max-width: 200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.username-box {
  margin: 20px;
  
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  font-size: 18px;
  
}

.username-box input[type="text"]:hover {
  border: 2px solid #030B3A;
}


.start-button {
  margin-top: 20px;
}

.start-button button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  border-color: white;
  box-shadow: 0 0 10px white;
}
.avatar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  margin: 10px;
  cursor: pointer;
}

.avatar.selected {
  border-color: #030B3A;
  box-shadow: 0 0 10px #030B3A;
}

.username-box {
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  font-size: 18px;
}

.start-button {
  margin-top: 20px;
}

.button:hover {
  border-color: white;
  box-shadow: 0 0 10px white;
}

.start {
  font-size: 20px;
}

  /* Media query pour les écrans plus petits (par exemple, les smartphones) */
  @media (max-width: 768px) {
    .avatar {
        width: 150px;
        height: 150px;
    }

    .username-box input[type="text"] {
        width: 80%;
        max-width: 300px;
    }
}

/* Page theme */

.theme {
  width: 500px;
  font-size: 1.5em;
  color: #ccc;
  background-color: #000;
}



